<footer class="page-footer blue">
  <div class="container">
    <div class="row">
      
      <div class="col l6 s12">
        
        <h5 class="white-text">PitchUpp</h5>
        
        <p class="grey-text text-lighten-4">We are company revolutionize the way people should interviewed.</p>

      </div>
    
      <div class="col l3 s12">
        
        <h5 class="white-text">Partners</h5>
        
        <ul>
          <li><a class="white-text" href="#!">Company 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>

      </div>
      
      <div class="col l3 s12">
        
        <h5 class="white-text">Clients</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
    &copy PitchUpp <a class="brown-text text-lighten-3" href="index.html">2016</a>
    </div>
  </div>
</footer>