<nav class="white">
  <div class="nav-wrapper container">

    <a href="#" class="brand-logo center"><%=  image_tag('logo3.png', :id => "img_logo") %></a>
    
    <ul class="right hide-on-med-and-down">
      <li><%= link_to "Jobs", jobs_path%></li>
      <% if user_signed_in? %>
        <li><%= link_to "Profile",profile_path %></li>
      <% else %>  
        <li><%= link_to "Login", login_path%></li>  
      <% end %>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

    </div>
</nav>